<!DOCTYPE html>
<html lang="pt_PT" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <title>Festa do Software Livre - Aveiro 2023</title>

    <link href="css/agenda.css" rel="stylesheet">
    <link href="css/fonts.css" rel="stylesheet">
  </head>
  <body>
    <style>
    </style>

    <h1>Agenda provisória da Festa do Software Livre 2023</h1>

    <p><a href="/">Voltar à página principal</a></p>
    <p><a href="#day-15">Saltar para dia 15</a></p>
    <p><a href="#day-16">Saltar para dia 16</a></p>
    <p><a href="#day-17">Saltar para dia 17</a></p>
    <p><a href="#detalhes">Saltar para detalhes</a></p>

    <table class="schedule">
      <%- days.each do |day| -%>
        <tr id="day-<%= day %>"><td class='day' style="text-align: center" colspan=10><%= day %> de setembro</td></tr>
        <tr>
          <td>Horas</td>
          <%- schedule["rooms"].each do |room| -%>
            <td><%= room %></td>
          <%- end -%>
        </tr>

        <%= schedule_table(schedule, day) %>
      <%- end -%>
    </table>

    <h2 id='detalhes'>Detalhes</h2>

    <div class='details'>

    <%- schedule["tracks"].each do |track| -%>
      <div class='track-header'>
        <h3><%= logo(track["organizer"]) %></h3>
        <p>Dia <%= track["day"] %>, na sala <%= track["room"] %>, organizado por <%= schedule["organizers"][track["organizer"]] %></p>
      </div>

      <%- track["schedule"].each do |talk| -%>
        <div class='talk' id="<%= talk["id"] %>">
          <p class='talk-title'><%= talk['title'] %></p>
          <p>das <%= format_hour(talk["from"]) %> até às <%= format_hour(talk["to"]) %> por <%= Array(talk["speakers"]).join(", ") %></p>
          <p class='talk-description'><%= talk['description'] %></p>
        </div>
      <%- end -%>
    <%- end -%>

    </div>

    <script>
      document.querySelectorAll('td.busy a').forEach((talk) => {
        talk.addEventListener('mouseover', (ev) => {
          const day = ev.target.parentNode.dataset.day;
          const seconds = ev.target.parentNode.dataset.seconds;
          const rows = parseInt(ev.target.parentNode.attributes.rowspan.value, 10);

          const labels = Array(...document.querySelectorAll(`td.time[data-day="${day}"]`));
          while (labels[0].dataset.seconds < seconds) {
            labels[0].classList.remove('hovered');
            labels.shift();
          }

          for (let i = 0; i < rows; i++) {
            labels[0].classList.add('hovered');
            labels.shift();
          }

          while (labels.length > 0) {
            labels[0].classList.remove('hovered');
            labels.shift();
          }
        });
      });
    </script>
  </body>
</html>
